<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/layout.html :: head}"></head>
<body class="d-flex flex-column">
<main class="flex-shrink-0">

  <nav th:replace="~{fragments/layout.html :: nav}"></nav>

  <div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills me-3 ms-3 mb-3 mt-3 col-1" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <button class="nav-link active" id="v-pills-onas-tab" data-bs-toggle="pill" data-bs-target="#v-pills-onas" type="button" role="tab" aria-controls="v-pills-onas" aria-selected="true">O nás</button>
      <button class="nav-link" id="v-pills-cile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-cile" type="button" role="tab" aria-controls="v-pills-cile" aria-selected="false">Cíle a vize</button>
      <button class="nav-link" id="v-pills-finance-tab" data-bs-toggle="pill" data-bs-target="#v-pills-finance" type="button" role="tab" aria-controls="v-pills-finance" aria-selected="false">Finance</button>
      <button class="nav-link" id="v-pills-pravidla-tab" data-bs-toggle="pill" data-bs-target="#v-pills-pravidla" type="button" role="tab" aria-controls="v-pills-pravidla" aria-selected="false" disabled>Pravidla</button>
      <button class="nav-link" id="v-pills-kontakt-tab" data-bs-toggle="pill" data-bs-target="#v-pills-kontakt" type="button" role="tab" aria-controls="v-pills-kontakt" aria-selected="false">Kontakt</button>
      <button class="nav-link" id="v-pills-faq-tab" data-bs-toggle="pill" data-bs-target="#v-pills-faq" type="button" role="tab" aria-controls="v-pills-faq" aria-selected="false">FAQ</button>
    </div>

    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-onas" role="tabpanel" aria-labelledby="v-pills-onas-tab" tabindex="0">

        <!-- Header-->
        <header class="py-5 bg-light">
          <div class="container-fluid px-2">
            <div class="row justify-content-center">
              <div class="col-lg-12 col-xxl-10">
                <div class="text-center mx-2">
                  <h1 class="fw-bolder mb-3">Proč vznikla Učitelská Stezka a co to vlastně je?</h1>
                  <p class="lead fw-normal text-muted mx-0">Jsme dva učitelé, kteří nejsou ničím nějak zvlášť výjimeční. Tím pádem tady nenajdete všespásný návod, jak se stát nejlepším učitelem/učitelkou na světě. Určitě tu nepíšeme vlastní pravidla, která by se měla tesat do kamene a nechceme nikomu kecat do toho, jak by měl učit (ta jediná správná cesta, NAŠE). </p>
                  <p class="lead fw-normal text-muted mx-0">Když jsme si ujasnili, co Učitelská stezka není, pojďme se řídit nadpisem. Více detailů najdete v <a th:href="@{/prirucka}">Příručce</a>, ale i sem patří minimalně zkrácené vysvětlení. Krátce řečeno, chceme pomoci měnit české školství k lepšímu. Stejně jako všichni učitelé, alespoň ti dobří. A my věříme, že být dobrými učiteli chtějí být v jádru všichni, jinak by to nedělali.
                    Ne vždy je to však tak lehké. Nedostatek podpory, přehlcení, stres, špatné ohodnocení, to vše může vyústit ve ztrátu motivace a to, že to daný učitel vzdá, nebo dělá svou práci bez nadšení.</p>
                  <p class="lead fw-normal text-muted mx-0">Co s tím? Jelikož nejsme oprávnění a upřímně ani vybaveni znalostmi k tomu, abychom dělali reformy školství, tak si nějakou revoluci ani za cíl neklademe.
                    Je potřeba začít někde jinde. Nejlépe od základů. A základem každého dobrého vzdělávacího systému jsou právě skvělí učitelé.
                  </p>
                  <p class="lead fw-normal text-muted mx-0">A protože řešíme a řešili jsme stejné problémy, starosti a někdy i blbosti v práci, jako ostatní učitelé, chtěli bychom vytvořit místo, kde bude možné tyto věci sdílet.
                    Nejen my s Vámi, ale všichni učitelé s všemi ostatními. Chceme vytvořit stránku, která našim kolegům ušetří čas, někdy peníze a hlavně nervy. Časem bychom chtěli vybudovat silnou komunitu, která se bude vzájemně podporovat,
                    sdílet nápady a předávat si zkušenosti. Kde se bude moct každý učitel bezpečně vypovídat a kde se budeme vzájemně ujišťovat, že naše práce opravdu má smysl.
                  </p>
                  <p class="lead fw-normal text-muted mx-0">A tak vznikla Učitelská stezka. Stránka, která Vás v ideálním případě nasměruje tam, kam potřebujete. Poradí kudy se dát, když si sami nevíte rady. Provede spletitou cestou vzdělávání.
                    Zkrátka pomoc od učitelů pro učitele. To ve finále až tak malý cíl není, ale pevně věříme, že se nám to společně povede. Pokud se k nám na této cestě chcete přidat, určitě se nám ozvěte! :)
                  </p>
                  <a class="btn btn-primary btn-lg" href="#scroll-target">Přidej se k nám</a>
                </div>
              </div>
            </div>
          </div>
        </header>
        <!-- About section one-->
        <section class="py-5 bg-white">
          <div class="container px-5 my-5">
            <div class="row gx-5 align-items-center">
              <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" th:src="@{/images/verca.svg}" alt="..." /></div>
              <div class="col-lg-6">
                <h2 class="fw-bolder">Veronika Bačová</h2>
                <p class="lead fw-normal text-muted mb-3">Na základní škole jsem učila 7 let. Během toho jsem si dodělala Ph.D. z pedagogiky na Univerzitě Karlově. Záhy jsem dostala šanci splnit si sen a vyučovat na vysoké škole. Výuka a práce s dětmi mě sice bavila, ale vždy jsem chtěla spíše přispívat k lepší budoucnosti vzdělávání a v tom má běžný učitel omezené možnosti, pokud chce dosáhnout větších změn. </p>
                <p class="lead fw-normal text-muted mb-3">Momentálně vyučuji na peďáku a věnuji se profesi učitele, trendům ve vzdělávání a zahraničnímu vzdělávání. Zaměřuji se hlavně na Finsko. I kriticky, nemám ráda, když se věci označují za skvělé, jen protože jsou z Finska, i oni mají své problémy. </p>
                <p class="lead fw-normal text-muted mb-3">Zajímám se o začínající učitele a své studenty se snažím motivovat k tomu, aby chtěli učit. Snažím se jim ukázat, že teorie sice je důležitá, ale hlavní je praxe. Vedu je k tomu, že teorie pomůže jen do určité míry a je potřeba si to "ohnout" podle sebe. V reálném světě je důležitá osobnost učitele, nebýt učitelem podle tabulky. A jedna možná kontroverzní myšlenka na závěr, oproti dnešnímu modernímu a běžnému názoru si myslím, že frontální výuka má také své využití. </p>
              </div>
            </div>
          </div>
        </section>
        <!-- About section two-->
        <section class="py-5 bg-light">
          <div class="container px-5 my-5">
            <div class="row gx-5 align-items-center">
              <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" th:src="@{/images/martin.svg}" alt="..." /></div>
              <div class="col-lg-6">
                <h2 class="fw-bolder">Martin Bosák</h2>
                <p class="lead fw-normal text-muted mb-2">Přísně technicky vzato učitelem nejsem, i když učím angličtinu na základní škole již 4 roky. Pedagogický obor jsem nikdy nevystudoval a mé poznatky a metody vycházejí čistě z praxe, nebo od Verči.
                </p>

                <p class="lead fw-normal text-muted mb-2">Učení mě většinu času baví a je to něco, co mi dává smysl. Kromě učení jsem se v poslední době začal věnovat také programování. Pokud by vám tedy něco na webu nefungovalo, je to moje chyba. Texty píšeme s Verčou společně, ale ty odborné budou pravděpodobně její práce.
                  Moje parketa jsou spíše vtipy a sarkastické poznámky, které do nich budu vkládat.
                </p>
                <p class="lead fw-normal text-muted mb-2"> Motivací pro založení této stránky pro mě bylo to, že chápu, jak mohou být začátky těžké a matoucí. A nejen začátky. Jakkoliv učitelství dokáže být krásné a naplňující, tak dokáže být namáhavé a frustrující.
                  Znám ale mnoho skvělých učitelů a určitě jich je tisíce, které neznám. Kdybychom našli cestu, jak předat jejich rady a tipy dále, určitě by nám to všem naši práci trochu ulehčilo. Pevně doufám, že se nám opravdu podaří vybudovat stránku, která bude pomáhat všem učitelům a fungující a podporující komunitu skvělých lidí. </p>
              </div>
            </div>
          </div>
        </section>
        <!-- Team members section-->
        <section class="py-5 bg-white" id="scroll-target">
          <div class="container px-5 my-5">
            <div class="text-center">
              <h2 class="fw-bolder">Naši dobrovolníci</h2>
              <p class="lead fw-normal text-muted mb-5">Pokud se ti líbí naše cíle a vize a zaujala tě myšlenka stát se členem Učitelské stezky, napiš nám! Šikovní lidé, kteří mají čím přispět, se vždycky hodí.
              V současné době i my vše děláme dobrovolně a zadarmo, tudíž ti můžeme nabídnout jedině dobrý pocit. V budoucnosti bychom pro projekt rádi zajistili nějaké finance, ale to vše je ve hvězdách.
                Pro peníze to však neděláme (pro ty ani přece neučíme), tak se ozvi a staň se dobrovolníkem!
              </p>
            </div>
            <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
              <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                  <img class="img-fluid rounded-circle mb-4 px-4" th:src="@{/images/dobrovolnik1.svg}" alt="..." />
                  <h5 class="fw-bolder">Petr Novák</h5>
                  <div class="fst-italic text-muted">Psycholog</div>
                </div>
              </div>
              <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                  <img class="img-fluid rounded-circle mb-4 px-4" th:src="@{/images/dobrovolnik2.svg}" alt="..." />
                  <h5 class="fw-bolder">Petra Nováková</h5>
                  <div class="fst-italic text-muted">Učitelka MŠ</div>
                </div>
              </div>
              <div class="col mb-5 mb-5 mb-sm-0">
                <div class="text-center">
                  <img class="img-fluid rounded-circle mb-4 px-4" th:src="@{/images/dobrovolnik3.svg}" alt="..." />
                  <h5 class="fw-bolder">Toribio Nerthus</h5>
                  <div class="fst-italic text-muted">Operations Manager</div>
                </div>
              </div>
              <div class="col mb-5">
                <div class="text-center">
                  <img class="img-fluid rounded-circle mb-4 px-4" th:src="@{/images/dobrovolnik4.svg}" alt="..." />
                  <h5 class="fw-bolder">Malvina Cilla</h5>
                  <div class="fst-italic text-muted">CTO</div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <div class="tab-pane fade" id="v-pills-cile" role="tabpanel" aria-labelledby="v-pills-cile-tab" tabindex="0">
        <!-- Header-->
        <header class="py-5 bg-light">
          <div class="container px-5">
            <div class="row justify-content-center">
              <div class="col-lg-12 col-xxl-10 mx-auto">
                <div class="text-center my-4">
                  <h1 class="fw-bolder mb-3">Cíle, vize a hodnoty</h1>
                  <p class="lead fw-normal text-muted my-4">Na této stránce s vámi chceme sdílet naše cíle a vize. Tím, že sami vlastně nevíme, co od tohoto projektu očekávat, je dost dobře možné, že nám pomůžete tyto cíle upravovat a přehodnocovat. I proto je důležité vše zaznamenávat. A neméně důležité jsou také hodnoty, které nás při dosahování dalších milníků budou doprovázet a pomáhat nám držet ten správný směr.</p>
                </div>
              </div>
              <!-- Obsah -->
              <div class="table-of-contents-container">
                <h3 class="table-of-contents-title">OBSAH</h3>
                <ul class="list-unstyled">
                  <li><a href="#section-one" class="btn btn-link">Hodnoty</a></li>
                  <li><a href="#section-two" class="btn btn-link">Vize</a></li>
                  <li><a href="#section-three" class="btn btn-link">Cíle</a></li>
                </ul>
              </div>
            </div>
          </div>
        </header>
        <!-- About section one-->
        <section class="py-4 bg-white" id="section-one">
          <div class="container px-5">
            <div class="row gx-5 align-items-center">
              <div class="col-12">
                <h2 class="fw-bolder podtrzeny">Hodnoty</h2>
                <section>
                  <p class="fs-5 my-3">Při dosahování našich cílů chceme dbát na to aby byly dodržovány hodnoty, které si myslíme, že jsou pro správné fungování Učitelské stezky důležité.
                   Jde nám zejména o to, aby byla Učitelská stezka transparentní, nezávislá, otevřená a hlavně extrémně užitečná. :)</p>
                  <p class="fs-5 my-3"><strong>Transparentnost</strong> spočívá v tom, že chceme upřímně sdílet veškeré naše cíle, vize a naše motivace. Průběžně aktualizovat
                    a hodnitit, co se podařilo a co ne. Zároveň bychom do budoucna chtěli být transparentní i co se financí týče. Tedy odkud bereme finance na provoz webu a kam směřují. Zkrátka otevřená kniha.</p>
                  <p class="fs-5 my-3"><strong>Otevřenost</strong> Učitelské stezky vždy a pro všechny učitele, kteří se chtějí vzdělávat, zlepšovat a třeba v tom pomáhat i svým kolegům. <i>Příručka bude navždy zdarma a dostupná všem, to se nezmění.</i>
                    Pokud něco chcete kopírovat, přebírat, citovat nebo jakkoliv jinak využít, prosím. Příručka také bude neustále upravovaná, aktualizovaná a rozšiřovaná. Nerozumíme všemu a tak budeme rádi, když časem přispějí odborníci na daná témata, nebo nám pomohou příručku rozšířit.</p>
                  <p class="fs-5 my-3"><strong>Nezávislost</strong> na jakékoliv organzaci, straně či firmě. Učitelskou příručku děláme pod našimi jmény a samozřejmě je vše zde ovlivněno našimi názory, i přestože se snažíme zachovat nestrannost.
                    Znamená to také, že zde nenajdete nic, s čím bychom nesouhlasili a nepodepsali se pod to. I přestože do budoucna počítáme s nějakými zdroji financování, nestane se, že bychom do článků dávali skryté reklamy, nebo sdíleli produkty/firmy a jiné věci, o kterých nejsme přesvědčeni, že pro vás mohou být přínosem.
                    Zároveň i přestože máme své politické a ideologické názory, nedovolíme, aby jakkoliv ovlivňovaly naši činnost na této stránce (cenzura, podsouvání svých názorů, propagace politických stran apod.).</p>
                  <p class="fs-5 my-3"><strong>Užitečnost</strong> pro všechny učitele. Dá se říci, že to je hlavní důvod, proč tuto stránku tvoříme. Aby byla jednou užitečná a nápomocná pro všechny učitele. Naštěstí dalších lidí i organizací v ČR se o něco takového snaží a to je jednině dobře.
                    Věříme, že taková snaha má smysl. Věříme, že se časem Učitelská stezka zařadí po bok již fungujících projektů a opravdu pomůže mnoha našim kolegům po celé ČR. A i kdyby jen jednomu učiteli pomohla nevzdat to, nebo jen několika málo jedincům ušetřila čas, tak to mělo smysl.</p>
                </section>
              </div>
            </div>
          </div>
        </section>
        <!-- About section two-->
        <section class="py-4 bg-light" id="section-two">
          <div class="container px-5">
            <div class="row gx-5 align-items-center">
              <div class="col-12">
                <h2 class="fw-bolder podtrzeny">Vize</h2>
                <section>
                  <h3 class="fw-bolder my-3">Komunita</h3>
                  <p class="fs-5 my-3">Naší dlouhodobou vizí je vytvořit zdravou komunitu profesionálů ve vzdělávání. Místo, kam se bude člověk rád vracet a komunikovat s ostatními kolegy.
                    Ať se jedná o lektory volnočasových aktivit, učitele na základní, střední nebo vysoké škole nebo o lidi, kteří nad učením teprve přemýšlí. Ať jde o začínající, zkušené a nebo bývalé učitele.
                    Ať se člověk chce aktivně zapojit, nebo jen pasivně čerpat nové informace. Vytvoření místa, kde budeme všichni moci vzájemně otevřeně diskutovat, radit si, sdílet nápady, sdílet nezdary a vše okolo.
                  </p>
                  <h3 class="fw-bolder my-3">Stránka</h3>
                  <p class="fs-5 my-3">Vize pro stránku je taková, že se stane rozcestníkem, kde člověk najde vše potřebné k učení. Stane se nástrojem, který ušetří čas a nervy jak začínajícím učitelům, tak již aktivním učitelům.
                  V dnešní době je k dispozici již mnoho informací, návodů, příruček a školení. Někdy je to až na škodu, kolik toho vlastně máme na několik kliknutí. Bylo by tedy skvělé, kdyby existovalo místo, kde najdeme jen ten kvalitní obsah.
                  Nevytváříme ani neprodáváme sami nějaké své kurzy. Spíš chceme sdílet, co se nám v praxi osvědčilo a upozornit na to, co už dobře funguje. A vytvořit prostor, kde to samé mohou sdílet i ostatní. Přece jen osobní zkušenost a praxe je to nejlepší doporučení. </p>
                </section>
              </div>
            </div>
          </div>
        </section>
        <!-- About section three-->
        <section class="py-4 bg-white" id="section-three">
          <div class="container px-5">
            <div class="row gx-5 align-items-center">
              <div class="col-12">
                <h2 class="fw-bolder podtrzeny">Cíle</h2>
                <section>
                  <p class="fs-5 my-3">(Přidat komentáře?články?) Vize a naše vysněná budoucnost je doufáme jasná. K tomu abychom se tam dostali je ale potřeba vytyčit nějaké reálné a splnitelné cíle.</p>
                  <p class="fs-5 my-3">Zatím sami nevíme, kam nás tahle cesta zavede. Plány máme rozhodně velké a nápadů víc než dost. Uvidíme, co se podaří zrealizovat a pokusíme se alespoň část shrnout do následujících cílů.</p>
                  <!-- 1. cíl-->
                  <h3 class="fw-bolder my-3">Akce Učitelské stezky</h3>
                  <div class="container text-center">
                  <img th:src="@{/images/akce-cile.svg}" alt="menu" />
                  </div>
                  <p class="fs-5 my-3">Zatím bohužel nemáme čas ani kapacitu pro nějaké akce naživo. Časem nás třeba bude dost a situace to dovolí. Nicméně bychom rádi pro naše členy organizovali vzdělávací webináře na zajímavá témata.
                    Jednalo by se vždy o témata, která využijete v praxi a která opravdu učitele zajímají. Nic náročného, 30-60 minut maximálně, zadarmo.
                  Budeme pečlivě vybírat témata i hosty a věříme, že budou takovým přínosem, že si je s čistým svědomím můžete napsat do výkazu v rámci sebevzdělávání :)
                  <p class="fs-5 my-3">Začneme s jednou akcí měsíčně a uvidíme, jaký budou mít ohlas. Je to z toho důvodu, abychom byli schopni udržet kvalitu, kterou si od toho slibujeme a připravili jsme ta správná témata a sehnali zajímavé hosty.
                  Na tyto akce nebude nutné se přihlásit, bude stačit zadat e-mail abychom věděli, kam poslat odkaz pro připojení. Záznamy budou dostupné pro přihlášené členy.</p>
                  <p class="fs-5 my-3">Pokud se bude dařit držet kvalitu a přínos akcí a bude to v našich silách, rádi zvýšíme jejich počet.</p>
                  <!-- 2. cíl-->
                  <h3 class="fw-bolder my-3">Vytvoření komunity</h3>
                  <div class="container text-center">
                    <img th:src="@{/images/komunita-cile.svg}" alt="menu" />
                  </div>
                  <p class="fs-5 my-3">Zatím jsme vytvořili pouze fungující (většinou) stránku a <a th:href="@{/prirucka}">Příručku</a>. Ultimátní cíl je ale dojít do fáze, kdy vytvoříme aktivní a podporující komunitu učitelů. Než se do této fáze dostaneme, chtěli bychom mít alespoň 200 přihlášených učitelů.
                    Je to pro nás takový signál, že to, co tady děláme, dává smysl i někomu jinému, ne jenom nám. Nemá cenu snažit se vytvořit komunitu, když nemáte aktivní lidi, kteří jsou zapálení pro vzdělávání a chtějí s ostatními komunikovat.
                  <p class="fs-5 my-3">Proto si zatím vystačíme s přihlašovacími účty zde na webu. Přihlášení budou mít možnosti navíc, jak se zapojit (možnost komentovat články, automatické pozvánky na akce,koukat na webináře zpětně, a další věci časem přidáme) a pro nás to bude zpětná vazba a ukazatel, jestli se pustit do další fáze.
                    Nad technickým řešením už jsme přemýšleli, pokud by se snad tento milník měl blížit, budeme ho s vámi sdílet a rádi si vyslechneme zpětnou vazbu a případné podněty.</p>
                  <!-- 3. cíl-->
                  <h3 class="fw-bolder my-3">Finanční cíle</h3>
                  <div class="container text-center">
                    <img th:src="@{/images/finance-cile.svg}" alt="finanční cíle" />
                  </div>
                  <p class="fs-5 my-3">V první řadě chceme zmínit, že není naším cílem nějak ždímat peníze z českých učitelů a na Učitelské stezce zbohatnout. I z tohoto důvodu jsme se rozhodli, že chceme ukazovat finanční hospodaření transparentně, aby bylo jasné, kam případné výdělky plynou.
                  </p>
                  <p class="fs-5 my-3">Již před spuštěním jsme tomuto projektu věnovali stovky hodin práce, aniž bychom z toho cokoliv měli. A bude to tak nejspíš i do budoucna. Nicméně bychom se rádi pokusili získat finance, abychom mohli Učitelskou stezku udržovat aktuální a mohli ji také rozšířit.
                  Plánů máme spoustu, ale ty vyžadují čas a bohužel i peníze. Nehledě na to, že sami musíme mít z čeho žít. Navíc bychom rádi čas od času přispěli našim dobrovolníkům, případně využili finance pro to, abychom zajistili zajímavé osobnosti jako hosty nebo zaplatili odborníkům, kteří nám pomohou posunout projekt dál.
                    Navíc jsou tu stále nějaké provozní náklady. Proto jsme si nastavili několik finančních milníků.
                  Zatím je to vystřelené tak od boku a časem je třeba upravíme, až se střetneme s realitou.</p>
                  <p class="fs-5 my-3"><strong>10 000 Kč</strong> měsíčně na provoz je první milník. V tomto případě by se nám asi zaplatil čas, který tomu věnujeme. Byli bychom schopni se projektu věnovat pravidelněji a vše aktualizovat a zajistit tak, aby projekt nestál na místě, Příručka nebyla zastaralá a někam se to posouvalo.</p>
                  <p class="fs-5 my-3"><strong>30 000 Kč</strong> měsíčně by zajistilo vše z předchozího milníku a určitě mnohem více prostoru pro vývoj a zlepšování celé stránky. Také bychom mohli už pravidelně odměňovat lidi, kteří se na projektu podílí a zaslouží sí nejen chválu. </p>
                  <p class="fs-5 my-3"><strong>60 000+ Kč</strong> měsíčně je jako sen. Dovolilo by nám to, aby se jeden z nás mohl projektu věnovat klidně i na full-time nebo oba na zkrácený úvazek. Podle situace. Nehledě na to, že bychom měli peníze pro další členy týmu a mohli se pustit do realizace všech našich bláznivých nápadů, které nám učitelům snad ulehčí život. </p>
                  <p class="fs-5 my-3"> Pokud vás zajímá více informací ohledně zdrojů financování a o našem hospodaření, navštivte sekci finance (bude tu proklik až přijdu na to jak).  </p>
                  <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-between">
                    <a href="#features"><img class="menu" th:src="@{/images/info2.svg}" alt="menu" /></a>
                    <a th:href="@{/onas#v-pills-kontakt}"><img class="menu" th:src="@{/images/info.svg}" alt="menu" /></a>

                  </div>
                </section>
              </div>
            </div>
          </div>
        </section>
      </div>

      <div class="tab-pane fade" id="v-pills-finance" role="tabpanel" aria-labelledby="v-pills-finance-tab" tabindex="0">
        <!-- Header-->
        <header class="py-5 bg-light">
          <div class="container px-5">
            <div class="row justify-content-center">
              <div class="col-lg-12 col-xxl-10 mx-auto">
                <div class="text-center my-4">
                  <h1 class="fw-bolder mb-3">Finance</h1>
                  <p class="lead fw-normal text-muted my-4">V současné době je tato stránka zatím prázdná. Do projektu investujeme své vlastní peníze, energii a čas.
                    Máme nějaké nápady na možnosti financování do budoucna, tak když nám bude štěstí přát, tak brzy doplníme nějaké informace i sem. :) </p>
                </div>
              </div>
              <!-- Obsah -->
              <div class="table-of-contents-container">
                <h3 class="table-of-contents-title">OBSAH</h3>
                <ul class="list-unstyled">
                  <li><a href="#section-one" class="btn btn-link">Cíle</a></li>
                  <li><a href="#section-two" class="btn btn-link">Sponzoring</a></li>
                  <li><a href="#section-three" class="btn btn-link">Výdělky</a></li>
                  <li><a href="#section-four" class="btn btn-link">Náklady</a></li>
                  <li><a href="#section-five" class="btn btn-link">Statistiky</a></li>
                </ul>
              </div>
            </div>
          </div>
        </header>
      </div>
      <div class="tab-pane fade" id="v-pills-pravidla" role="tabpanel" aria-labelledby="v-pills-pravidla-tab" tabindex="0">...</div>
      <div class="tab-pane fade" id="v-pills-kontakt" role="tabpanel" aria-labelledby="v-pills-kontakt-tab" tabindex="0">
        <!-- Page content-->
        <section class="py-5">
          <div class="container px-5">
            <!-- Contact form-->
            <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
              <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                <h1 class="fw-bolder">Ozvěte se nám!</h1>
                <p class="lead fw-normal text-muted mb-0">Ať už jde o zpětnou vazbu, dotaz nebo nabídku pomoci, budeme rádi, když se nám ozvete.</p>
              </div>
              <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                  <!-- * * * * * * * * * * * * * * *-->
                  <!-- * * SB Forms Contact Form * *-->
                  <!-- * * * * * * * * * * * * * * *-->
                  <!-- This form is pre-integrated with SB Forms.-->
                  <!-- To make this form functional, sign up at-->
                  <!-- https://startbootstrap.com/solution/contact-forms-->
                  <!-- to get an API token!-->
                  <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <!-- Name input-->
                    <div class="form-floating mb-3">
                      <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                      <label for="name">Celé jméno</label>
                      <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                    </div>
                    <!-- Email address input-->
                    <div class="form-floating mb-3">
                      <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                      <label for="email">Email</label>
                      <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                      <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                    </div>
                    <!-- Phone number input-->
                    <div class="form-floating mb-3">
                      <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" />
                      <label for="phone">Telefonní číslo (nepovinné)</label>
                    </div>
                    <!-- Message input-->
                    <div class="form-floating mb-3">
                      <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                      <label for="message">Zpráva</label>
                      <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                    </div>
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                      <div class="text-center mb-3">
                        <div class="fw-bolder">Form submission successful!</div>
                        To activate this form, sign up at
                        <br />
                        <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                      </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                    <!-- Submit Button-->
                    <div class="d-grid"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Submit</button></div>
                  </form>
                </div>
              </div>
            </div>
            <!-- Contact cards-->
            <div class="row gx-5 row-cols-2 row-cols-lg-4 py-5">
              <div class="col">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-chat-dots"></i></div>
                <div class="h5 mb-2">Chat with us</div>
                <p class="text-muted mb-0">Chat live with one of our support specialists.</p>
              </div>
              <div class="col">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-people"></i></div>
                <div class="h5">Ask the community</div>
                <p class="text-muted mb-0">Explore our community forums and communicate with other users.</p>
              </div>
              <div class="col">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-question-circle"></i></div>
                <div class="h5">Support center</div>
                <p class="text-muted mb-0">Browse FAQ's and support articles to find solutions.</p>
              </div>
              <div class="col">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-telephone"></i></div>
                <div class="h5">Call us</div>
                <p class="text-muted mb-0">Call us during normal business hours at (555) 892-9403.</p>
              </div>
            </div>
          </div>
        </section>
      </div>

      <div class="tab-pane fade" id="v-pills-faq" role="tabpanel" aria-labelledby="v-pills-faq-tab" tabindex="0">
        <!-- Page Content-->
        <section class="py-5">
          <div class="container px-5 my-5">
            <div class="text-center mb-5">
              <h1 class="fw-bolder">Často kladené dotazy</h1>
              <p class="lead fw-normal text-muted mb-0">S čím potřebujete poradit?</p>
            </div>
            <div class="row gx-5">
              <div class="col-xl-8">
                <!-- FAQ Accordion 1-->
                <h2 class="fw-bolder mb-3">Account &amp; Billing</h2>
                <div class="accordion mb-5" id="accordionExample">
                  <div class="accordion-item">
                    <h3 class="accordion-header" id="headingOne"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Accordion Item #1</button></h3>
                    <div class="accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <strong>This is the first item's accordion body.</strong>
                        It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
                        <code>.accordion-body</code>
                        , though the transition does limit overflow.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h3 class="accordion-header" id="headingTwo"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Accordion Item #2</button></h3>
                    <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <strong>This is the second item's accordion body.</strong>
                        It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
                        <code>.accordion-body</code>
                        , though the transition does limit overflow.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h3 class="accordion-header" id="headingThree"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Accordion Item #3</button></h3>
                    <div class="accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <strong>This is the third item's accordion body.</strong>
                        It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
                        <code>.accordion-body</code>
                        , though the transition does limit overflow.
                      </div>
                    </div>
                  </div>
                </div>
                <!-- FAQ Accordion 2-->
                <h2 class="fw-bolder mb-3">Website Issues</h2>
                <div class="accordion mb-5 mb-xl-0" id="accordionExample2">
                  <div class="accordion-item">
                    <h3 class="accordion-header" id="headingOne"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">Accordion Item #1</button></h3>
                    <div class="accordion-collapse collapse show" id="collapseOne2" aria-labelledby="headingOne" data-bs-parent="#accordionExample2">
                      <div class="accordion-body">
                        <strong>This is the first item's accordion body.</strong>
                        It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
                        <code>.accordion-body</code>
                        , though the transition does limit overflow.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h3 class="accordion-header" id="headingTwo"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">Accordion Item #2</button></h3>
                    <div class="accordion-collapse collapse" id="collapseTwo2" aria-labelledby="headingTwo" data-bs-parent="#accordionExample2">
                      <div class="accordion-body">
                        <strong>This is the second item's accordion body.</strong>
                        It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
                        <code>.accordion-body</code>
                        , though the transition does limit overflow.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h3 class="accordion-header" id="headingThree"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">Accordion Item #3</button></h3>
                    <div class="accordion-collapse collapse" id="collapseThree2" aria-labelledby="headingThree" data-bs-parent="#accordionExample2">
                      <div class="accordion-body">
                        <strong>This is the third item's accordion body.</strong>
                        It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
                        <code>.accordion-body</code>
                        , though the transition does limit overflow.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4">
                <div class="card border-0 bg-light mt-xl-5 sticky-sidebar">
                  <div class="card-body p-4 py-lg-5">
                    <div class="d-flex align-items-center justify-content-center">
                      <div class="text-center">
                        <div class="h6 fw-bolder">Máte nějaké jiné dotazy?</div>
                        <p class="text-muted mb-4">
                          Napište nám
                          <br />
                          <a href="#!">info@ucitelskastezka.cz</a>
                        </p>
                        <div class="h6 fw-bolder">Sledujte nás</div>
                        <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-instagram"></i></a>
                        <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-threads"></i></a>
                        <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-linkedin"></i></a>
                        <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-youtube"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

</main>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script th:src="@{/scripts/scripts.js}"></script>
</body>
</html>